<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Activation</title>
  </head>
  <body>
    <h1>Welcome to Your App</h1>
    <p>
      Thank you for registering. Please click the link below to activate your
      account:
    </p>
    <a href="http://localhost:3002/<%= activationLink %>">Activate Account</a>
  </body>
</html>
